.projects-content {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    .projects-list {
      display: grid;
      width: 100%;
      gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

      .project {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
