.technologies {
  .container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;

    .hard-skills,
    .soft-skills {
      &__title {
      }

      &__list {
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        .item {
          padding: 10px;
        }
      }
    }
  }
}
