<div class="technologies">
  <div class="container">
    <div class="hard-skills">
      <span class="hard-skills__title">Технические навыки</span>
      <ul class="hard-skills__list">
        <li class="item">
          <a href="" class="item__link">q</a>
        </li>
        <li class="item">
          <a href="" class="item__link">w</a>
        </li>
        <li class="item">
          <a href="" class="item__link">e</a>
        </li>
        <li class="item">
          <a href="" class="item__link">r</a>
        </li>
        <li class="item">
          <a href="" class="item__link">t</a>
        </li>
      </ul>
    </div>

    <div class="soft-skills">
      <span class="soft-skills__title">Социальные навыки</span>
      <ul class="soft-skills__list">
        <li class="item">
          <a href="" class="item__link">q</a>
        </li>
        <li class="item">
          <a href="" class="item__link">w</a>
        </li>
        <li class="item">
          <a href="" class="item__link">e</a>
        </li>
        <li class="item">
          <a href="" class="item__link">r</a>
        </li>
        <li class="item">
          <a href="" class="item__link">t</a>
        </li>
      </ul>
    </div>
  </div>
</div>
