.technologies {
  .container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;

    .hard-skills,
    .soft-skills {
      text-align: center;
      &__title {
        font-weight: 700;
        font-size: 20px;
      }

      .front-end-skills,
      .back-end-skills {
        &__title {
          font-size: 16px;
          font-weight: 600;
          margin: 10px 0;
        }

        &__list {
          margin-top: 25px;
          display: grid;
          grid-template-columns: repeat(5, 1fr);

          .item {
            padding: 10px;

            &__link {
              &-img {
                max-width: 4rem;
                max-height: 4rem;
              }
            }
          }
        }
      }
    }
  }
}
