.button-container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.button {
		background-color: transparent;
		color: #ccccff;
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;

		&:hover {
			color: #cc0033
		}
	}

	.arrow {
		width: 45px;
	}

	.arrow__left {
		transform: rotate(180deg);
	}
}