<div class="simple-button">
    @if (buttonName === 'cancel') {
    <button
        class="cancel-button"
        type="button"
        (click)="cancel()"
    >
        Cancel
    </button>
    } @if (buttonName === 'confirm') {
    <button
        class="confirm-button"
        type="button"
        (click)="confirmLogout()"
    >
        Confirm
    </button>
    } @if (buttonName === 'logout') {
    <button
        class="logout-button"
        type="button"
        (click)="openLogoutDialog()"
    >
        Logout
    </button>
    }
</div>
