<div class="simple-button">
    <ng-container *ngIf="buttonName === 'cancel'">
        <button
            class="cancel-button"
            type="button"
            (click)="cancel()"
        >
            Cancel
        </button>
    </ng-container>

    <ng-container *ngIf="buttonName === 'confirm'">
        <button
            class="confirm-button"
            type="button"
            (click)="confirmLogout()"
        >
            Confirm
        </button>
    </ng-container>

    <ng-container *ngIf="buttonName === 'logout'">
        <button
            class="logout-button"
            type="button"
            (click)="openLogoutDialog()"
        >
            Logout
        </button>
    </ng-container>
</div>
