.navigation-panel {
  width: 100vw;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(169, 208, 113, 0),
    rgba(136, 173, 215, 1)
  );
  padding: 0 5%;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 100px;
      height: 100px;
      cursor: pointer;
    }

    .navigation-container {
      display: flex;
      align-items: center;
      gap: 1rem;

      .navigation-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        &__item {
          font-size: 20px;
          font-weight: 700;
          padding: 2rem;
        }

        &__item:hover {
          .item-link {
            color: blue;
          }
        }

        .active {
          color: green;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .navigation-panel .container .navigation-container {
    display: none;
  }
}
