<aside class="navigation-panel">
  <div class="container">
    <img src="#" alt="cv-logo" class="logo" />
    <nav class="navigation-container">
      <ul class="navigation-list">
        <li
          class="navigation-list__item"
          *ngFor="let link of navigation; let i = index"
        >
          <a routerLink="{{ link.link }}" [routerLinkActive]="['active']">{{
            link.value
          }}</a>
        </li>
        <!-- <li class="navigation-list__item">
          <a routerLink="projects" [routerLinkActive]="['active']">2</a>
        </li>
        <li class="navigation-list__item">
          <a routerLink="education" [routerLinkActive]="['active']">3</a>
        </li>
        <li class="navigation-list__item">
          <a routerLink="technologies" [routerLinkActive]="['active']">4</a>
        </li>
        <li class="navigation-list__item">
          <a routerLink="work-experience" [routerLinkActive]="['active']">5</a>
        </li> -->
      </ul>
      <div class="personal-area">test</div>
    </nav>
  </div>
</aside>
