.navigation-panel {
  width: 100vw;
  height: 100%;
  backdrop-filter: blur(15px);
  background: linear-gradient(
    to top,
    rgba(169, 208, 113, 0),
    rgba(255, 255, 255, 0.25)
  );
  padding: 0 5%;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;

    .logo {
      width: 100px;
      height: 100px;
      cursor: pointer;
    }

    .navigation-container {
      display: flex;
      align-items: center;
      gap: 1rem;

      .navigation-list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        &__item {
          font-size: 20px;
          text-align: center;

          .item-link {
            position: relative;
            padding: 1.5rem 0;
            color: #ccccff;
            font-weight: bold;
            line-height: 1;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
          }

          .item-link::first-letter {
            text-transform: uppercase;
          }
        }

        &__item:hover {
          .item-link {
            color: #cc0033;
          }
        }

        .active {
          -webkit-transition: all 0.1s ease;
          transition: all 0.1s ease;
          color: #ccff33;
        }
      }
    }

    .personal-area {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

@media screen and (max-width: 950px) {
  .navigation-panel .container .navigation-container {
    display: none;
  }
}
