<aside class="navigation-panel">
  <div class="container">
    <img src="#" alt="cv-logo" class="logo" />
    <nav class="navigation-container">
      <ul class="navigation-list">
        <li class="navigation-list__item">1</li>
        <li class="navigation-list__item">
          <a routerLink="/projects" [routerLinkActive]="['active']"></a>
        </li>
        <li class="navigation-list__item">3</li>
        <li class="navigation-list__item">4</li>
        <li class="navigation-list__item">5</li>
      </ul>
      <div class="personal-area">test</div>
    </nav>
  </div>
</aside>
