<header class="navigation-panel">
  <div class="container">
    <img
      src="/assets/img/IvanCherkas.png"
      alt="cv-logo"
      class="logo"
      routerLink="/layout" />

    <cv-navigation-panel-burger></cv-navigation-panel-burger>

    <nav class="navigation-container">
      <ul class="navigation-list">
        <li
          class="navigation-list__item"
          *ngFor="let link of navigation; let i = index">
          <a
            routerLink="{{ link.link }}"
            class="item-link"
            [routerLinkActive]="['active']"
            >{{ 'NAVIGATION.LINK.VALUE' + i | translate }}</a
          >
        </li>
      </ul>
    </nav>

    <div class="personal-area">
      <cv-language-selector></cv-language-selector>
      <cv-dark-mode-selector></cv-dark-mode-selector>
    </div>
  </div>
</header>
