<div class="about-content">
    <div class="container">
        <div class="about-block">
            <span class="about-block__title">
                {{ 'ABOUT-ME.ABOUT.TITLE' | translate }}
            </span>
            <p class="about-block__text">
                {{ 'ABOUT-ME.ABOUT.TEXT' | translate }}
            </p>
        </div>
        <div class="hobby-block">
            <span class="hobby-block__title">
                {{ 'ABOUT-ME.HOBBY.TITLE' | translate }}
            </span>
            <p class="hobby-block__text">
                {{ 'ABOUT-ME.HOBBY.TEXT' | translate }}
            </p>
        </div>
        <div class="sports-block">
            <span class="sports-block__title">
                {{ 'ABOUT-ME.SPORTS.TITLE' | translate }}
            </span>
            <p class="sports-block__text">
                {{ 'ABOUT-ME.SPORTS.TEXT' | translate }}
            </p>
        </div>
        <div class="army-block">
            <span class="army-block__title">
                {{ 'ABOUT-ME.ARMY.TITLE' | translate }}
            </span>
            <p class="army-block__text">
                {{ 'ABOUT-ME.ARMY.TEXT' | translate }}
            </p>
        </div>
    </div>
</div>
