@use '../../../../assets/styles/mixins/flex.mixin' as *;

.snackbar {
  @include flex-a_center-j_sb;

  &-message {
    font-weight: 700;
    color: #ffffff;
  }

  &-img {
    margin-left: 10px;
    width: 30px;
    height: 30px;
  }
}
