@switch (dateNumber) {
    @case (dateNumber === 1) {
        {{ dateNumber }}
        <span class="single-work-time__days-label">
            {{ 'WORK-EXPERIENCE.' + dateLabel | translate }}
        </span>
    }
    @case (dateNumber > 1 && dateNumber < 5) {
        <span class="single-work-time__days-label">
            {{ 'WORK-EXPERIENCE.' + dateLabel | translate }}
        </span>
    }
    @default {
        <span class="single-work-time__days-label">
            {{ 'WORK-EXPERIENCE.' + dateLabel | translate }}
        </span>
    }
}
