<div class="work-experience-content">
  <main class="work-container">
    <!-- EXPERIMENTAL WITH LANG! -->
    <div class="interpolation-content">
      <hr />
      <h1>{{ 'LANDING.LINE1' | translate }}</h1>
      <h2>{{ 'LANDING.LINE2' | translate }}</h2>
      <h2>{{ 'LANDING.LINE3' | translate }}</h2>
      <hr />
    </div>
    <div class="property-content">
      <h1 [translate]="'LANDING.PROPERTY.LINE'"></h1>
      <hr />
    </div>

    <!-- EXPERIMENTAL WITH LANG! -->
    <ul class="work-list">
      <li class="work-list__item" *ngFor="let work of workPlace; let i = index">
        <div class="item-header">
          <div class="item-header__logo">
            <img
              class="logo-icon"
              [src]="work.logoPath"
              [alt]="work.logoPath"
            />
          </div>

          <span class="item-header__company">{{ work.company }}</span>
        </div>
        <div class="item-body">
          <span class="item-body__from">{{ work.from }}</span
          ><span class="item-body__to">{{ work.to }}</span>
        </div>
        <div class="item-footer">
          <span class="item-footer__place">{{ work.place }}</span>
        </div>
      </li>
    </ul>
    <div class="total-experience">5 лет</div>
  </main>
</div>
