.work-experience-content {
  .work-container {
    text-align: center;
    .work-list {
      display: flex;
      gap: 2rem;

      &__item {
        .item-header,
        .item-body,
        .item-footer {
          display: flex;
          gap: 10px;
          justify-content: center;

          &__logo {
            background-color: #ffffff;
            border-radius: 8px;

            .logo-icon {
              height: 80px;
              border-radius: 8px;
            }
          }
        }

        .item-header {
          flex-direction: column-reverse;
        }
      }
    }

    .total-experience {
      margin-top: 50px;
    }
  }
}
