@use '../../../../assets/styles/mixins/flex.mixin' as *;

.technologies-list {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  &__item {
    padding: 1rem;
    .item-link {
      .item-container {
        @include flex-a_center-j_center-d_column;
        gap: 10px;

        .item__title {
          font-weight: 600;
          font-size: 20px;
          text-transform: uppercase;
        }

        .item__img {
          min-width: 4rem;
          height: 4rem;
          transition: all 0.5s ease-out;
        }

        .item__img:hover {
          transition: all 0.5s ease-out;
          transform: scale(1.2);
        }
      }
    }
  }
}
