@use '../../assets/styles/mixins/flex.mixin' as *;

.background {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #080710;
    width: 100vw;
    height: 100%;
}

.background .shape {
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.shape:first-child {
    top: 17%;
    left: 30%;
    background: linear-gradient(#00ff87, #60efff);
}

.shape:last-child {
    right: 30%;
    bottom: 17%;
    background: linear-gradient(to right, #ff930f, #fff95b);
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.767);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.13);
    padding: 50px 35px;
    width: 400px;
    height: 520px;
}

form * {
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
}

form h3 {
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
}

input {
    display: block;
    margin-top: 8px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.07);
    padding: 0 10px;
    width: 100%;
    height: 50px;
    color: #080710;
    font-weight: 300;
    font-size: 14px;
}

::placeholder {
    color: #e5e5e5;
}

.button__block {
    margin-top: 20px;
    @include flex-d_column;
    row-gap: 20px;

    button {
        cursor: pointer;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.02);
        padding: 15px 0;
        width: 100%;
        color: #080710;
        font-weight: 600;
        font-size: 18px;
    }

    .disabled {
        background-color: red;
    }

    .enabled {
        background-color: green;
    }
}

input.is-invalid {
    border: 2px solid red;
}
