.links-container {
  display: flex;
  justify-content: center;

  .links-list,
  .personal-data-list {
    display: flex;
  }

  .social-media-container {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 32px;
    transition: 250ms;
    transition: all 0.5s ease-in-out;
    perspective: 500px;

    .social-media {
      position: absolute;
      inset: 0;
      z-index: -1;
      width: inherit;
      height: inherit;
      border-radius: 32px;
      transition: 250ms;
      transform-style: preserve-3d;
      transform-origin: bottom right;
      transform: rotateZ(15deg);
      will-change: transform;
      box-shadow: 16px 0 40px #e4e4e4;
    }

    .social-media__back {
      background: linear-gradient(135deg, #4682eb -20%, #01beff 120%);
    }

    .social-media__img {
      position: absolute;
      inset: 0;
      z-index: 1;
      width: inherit;
      height: inherit;
      border-radius: 32px;
      background-color: #ffffff33;
      backdrop-filter: blur(20px);
      transition: 250ms;
      transform-style: preserve-3d;
      transform-origin: top left;
      overflow: hidden;

      svg.frame {
        width: inherit;
        height: inherit;

        rect {
          width: inherit;
          height: inherit;
          fill: none;
          stroke-width: 4;
        }
      }

      svg.icon {
        position: absolute;
        inset: 50% 0 0 50%;
        transform: translate(-50%, -50%);
      }
    }

    &:hover {
      transition: all 0.5s ease-in-out;

      &>.social-media__back {
        background: linear-gradient(135deg, #ff7979 -20%, #f0000f 120%);
        transform: translateZ(20px) rotateZ(15deg) rotateX(-20deg) rotateY(-20deg);
      }

      &>.social-media__img {
        transform: translateZ(80px) translateY(-5px) rotateX(15deg) rotateY(15deg);
      }
    }
  }

  .dark-layout {
    .social-media {
      box-shadow: 16px 0 40px #ff7979;

      &>.social-media__back {
        background: linear-gradient(135deg, red -20%, yellow 120%);
      }
    }
  }

}