.cv-item-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;

  .cv-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &__button {
      background-color: transparent;
      width: fit-content;
      cursor: auto;
    }

    &__img {
      max-width: 65%;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.5s ease-out;
    }

    &__img:hover {
      transition: all 0.5s ease-out;
      transform: scale(1.1);
    }

    &__download {
      background-color: rgba(255, 255, 255, 0.45);
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.25);
      box-shadow: 0 0 10px 1px rgb(0 0 0 / 25%);
      -webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(15px);
      padding: 10px 20px;
      max-width: 65%;
      transition: all 0.5s ease-out;
    }

    &__download:hover {
      transition: all 0.5s ease-out;
      transform: scale(1.1);
    }
  }
}
