<footer class="footer">
  <div class="footer-container">
    <div class="links-container">
      <ul class="links-list">
        <li class="links-list__item">1</li>
        <li class="links-list__item">1</li>
        <li class="links-list__item">1</li>
        <li class="links-list__item">1</li>
        <li class="links-list__item">1</li>
      </ul>
    </div>

    <div class="personal-data-container">
      <ul class="personal-data-list">
        <li class="personal-data-list__item">1</li>
        <li class="personal-data-list__item">1</li>
        <li class="personal-data-list__item">1</li>
        <li class="personal-data-list__item">1</li>
        <li class="personal-data-list__item">1</li>
      </ul>
    </div>
  </div>
</footer>
