<section class="about-photos">
  <div class="container">
    <div class="carousel-wrapper">
      <div class="carousel-main">
        <div class="item"><div class="item__text">1</div></div>
        <div class="item"><div class="item__text">1</div></div>
        <div class="item"><div class="item__text">1</div></div>
        <div class="item"><div class="item__text">1</div></div>
        <div class="item"><div class="item__text">1</div></div>
        <div class="item"><div class="item__text">1</div></div>

        <div class="button-area">
          <button class="button-area__preview" type="button" cvSliderBehavior>
            Preview
          </button>
          <button class="button-area__next" type="button" cvSliderBehavior>
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
