<div class="download-img">
  <div class="cv-container">
    <div class="cv-item">
      <a
        href="assets/img/cv/i.cherkas_angular_cv.pdf"
        class="button-block__download"
        download
        >Скачать резюме в формате PDF</a
      >
      <img
        src="assets/img/cv/ivan.cherkas_angular_developer_page1.jpg"
        alt="cv-first-page"
        class="page"
      />
    </div>
    <div class="cv-item">
      <a
        href="assets/img/cv/i.cherkas_angular_cv.jpg"
        class="button-block__download"
        download
        >Скачать резюме в формате JPG</a
      >
      <img
        src="assets/img/cv/ivan.cherkas_angular_deveolper_page2.jpg"
        alt="cv-second-page"
        class="page"
      />
    </div>
  </div>
</div>
