<main class="layout-background">
    @if (!isDarkBackground) {
        <div class="parallax">
            <div class="parallax__layer parallax__layer--back">
                <div class="starfield">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="parallax__layer parallax__layer--back2">
                <div class="starfield">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="parallax__layer parallax__layer--back3">
                <div class="starfield">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="parallax__layer parallax__layer--base">
                <div class="starfield">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    }
    @if (isDarkBackground) {
        <div class="stars">
            <div class="bg background"></div>
            <div class="bg midground"></div>
            <div class="bg foreground"></div>
        </div>
    }
</main>
