<div class="initial-content">
  <div class="container">
    <div class="main-content">
      <span class="main-content__title">CV Черкаса Ивана</span>
      <p class="main-content__description">
        Все это CV включая его дизайн и тексты было полностью разработано мной
        для упрощения комуникации с работатдателими и для наглядности моих
        технических навыков.
      </p>
    </div>

    <div class="technologies-content">
      <p class="technologies-content__title">
        При разработке этого приложения использовались следующие технологии:
      </p>
      <ul class="technologies-list">
        <li class="technologies-list__item">angular</li>
        <li class="technologies-list__item">angular universal</li>
        <li class="technologies-list__item">nest js</li>
        <li class="technologies-list__item">typescript</li>
        <li class="technologies-list__item">angular material</li>
        <li class="technologies-list__item">html</li>
        <li class="technologies-list__item">scss</li>
        <li class="technologies-list__item">js</li>
      </ul>
    </div>

    <span class="wishes">Желаю Вам хорошего просмотра!</span>
  </div>
</div>
