<div class="initial-content">
  <div class="container">
    <div class="main-content">
      <span class="main-content__title">CV Черкаса Ивана</span>
      <p class="main-content__description">
        Все это CV включая его дизайн и тексты было полностью разработано мной
        для упрощения комуникации с работатдателими и для наглядности моих
        технических навыков.
      </p>
    </div>

    <div class="technologies-content">
      <p class="technologies-content__title">
        При разработке этого приложения использовались следующие технологии:
      </p>
      <cv-skills-content
        [technologiesList]="technologiesList"
      ></cv-skills-content>
    </div>

    <aside class="etc">
      <span class="etc__language"
        >Приложение сделано в русском и английском переводах.</span
      >
      <span class="etc__color-mode"
        >Имеется возможность переключения темный режим.</span
      >
      <span class="etc__wishes">Желаю Вам хорошего просмотра!</span>
    </aside>
  </div>
</div>
