<div class="download-img">
	<div class="cv-container">
		<ng-container *ngIf="!isEuropean">
			<ng-container *ngIf="language==='en'">
				<cv-item downloadPath="assets/img/cv/i.cherkas_angular_cv.pdf"
					imgPath="assets/img/cv/ivan.cherkas_angular_developer_page1.jpg" currentText="{{ 'CV.PDF' | translate
			}}"></cv-item>
				<cv-button (click)="changeCvVersions()" label="{{ 'CV.BUTTON-CSI-TEXT' | translate
		}} "></cv-button>
				<cv-item downloadPath="assets/img/cv/i.cherkas_angular_cv.jpg"
					imgPath="assets/img/cv/ivan.cherkas_angular_deveolper_page2.jpg" currentText="{{ 'CV.JPG' | translate
			}}"></cv-item>
			</ng-container>
			
			<ng-container *ngIf="language==='ru'">
				<cv-item downloadPath="assets/img/cv/i.cherkas_angular_cv_ru.pdf"
					imgPath="assets/img/cv/ivan.cherkas_angular_developer_page1_ru.jpg" currentText="{{ 'CV.PDF' | translate
			}}"></cv-item>
				<cv-button (click)="changeCvVersions()" label="{{ 'CV.BUTTON-CSI-TEXT' | translate
		}} "></cv-button>
				<cv-item downloadPath="assets/img/cv/i.cherkas_angular_cv_ru.jpg"
					imgPath="assets/img/cv/ivan.cherkas_angular_deveolper_page2_ru.jpg" currentText="{{ 'CV.JPG' | translate
			}}"></cv-item>
			</ng-container>
		</ng-container>

		<ng-container *ngIf="isEuropean">
			<div class="cv-item">
				<a href="assets/img/cv/i.cherkas_angular_cv.pdf" class="button-block__download" download>{{ 'CV.PDF' | translate
					}}</a>
				<img src="assets/img/cv/ivan.cherkas_angular_developer_page1.jpg" alt="cv-first-page" class="page" />
			</div>
			<cv-button (click)="changeCvVersions()" label="{{ 'CV.BUTTON-EURO-TEXT' | translate
		}} "></cv-button>
			<div class="cv-item">
				<a href="assets/img/cv/i.cherkas_angular_cv.jpg" class="button-block__download" download>{{ 'CV.JPG' | translate
					}}</a>
				<img src="assets/img/cv/ivan.cherkas_angular_deveolper_page2.jpg" alt="cv-second-page" class="page" />
			</div>
		</ng-container>
	</div>
</div>