<div class="download-img">
    <div class="cv-container">
        <cv-item
            [language]="currentLanguage$ | async"
            [isEuroVersion]="isEuropean"
            cvItemNumber="1"
            translateLabel="{{ 'CV.PDF' | translate }}"
        ></cv-item>
        <cv-download-button
            (click)="changeCvVersions()"
            label="{{ 'CV.BUTTON-CSI-TEXT' | translate }} "
        ></cv-download-button>
        <cv-item
            [language]="currentLanguage$ | async"
            [isEuroVersion]="isEuropean"
            cvItemNumber="2"
            translateLabel="{{ 'CV.JPG' | translate }}"
        ></cv-item>
    </div>
</div>
