@use '../../../../assets/styles/variables' as color;
@use '../../../../assets/styles/mixins/flex.mixin' as *;
@use '../../../../assets/styles/mixins/glassmorphism.mixin' as glass;

.burger-navigation {
    width: 30px;
    height: 30px;

    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu > .menu__item {
        margin: 0 1rem;
        overflow: hidden;

        .item-link {
            padding: 0.5em;
            width: 100%;
            text-align: center;
        }

        .selectors {
            align-items: center;
            display: flex;
            column-gap: 10px;
        }
    }

    .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        @include flex-a_center-j_center-d_column;
    }

    .menu-toggle {
        display: none;
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: color.$white;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: all 0.3s;
        border-radius: 2px;
    }

    .menu-button::before {
        content: '';
        margin-top: -8px;
    }

    .menu-button::after {
        content: '';
        margin-top: 8px;
    }

    .menu-toggle__open + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
    }

    .menu-toggle__open + .menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
    }

    .menu-toggle__open + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
    }

    @media (max-width: 950px) {
        .menu-button-container {
            display: flex;
        }

        .menu {
            position: absolute;
            top: 4.5em;
            right: 1rem;
            @include flex-a_center-j_center-d_column;
            width: fit-content;
        }

        .menu-toggle ~ .menu .menu__item {
            height: 0;
            margin: 0;
            padding: 0;
            border: 0;
            transition: all 0.3s;
        }

        .menu-toggle__open ~ .menu .menu__item {
            border: 1px solid rgba(255, 255, 255, 0.5);
            height: 2.5em;
            transition: all 0.3s;
        }

        .menu > .menu__item {
            @include flex-j_center;
            padding: 0.5em 0;
            width: 100%;
            color: color.$white;
            @include glass.header_glassmorphism;
            transition: all 0.3s;
            font-size: 16px;
            letter-spacing: 1px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
            border-radius: 0;
        }

        .menu > .menu__item:hover {
            background: rgba(255, 255, 255, 0.3);
            transition: all 0.3s;
        }

        .menu > .menu__item:last-child {
            @include glass.header_glassmorphism;
        }

        .menu > .menu__item:first-child {
            @include glass.header_glassmorphism;
            border-radius: 10px 10px 0 0;
        }
    }
}
