<div class="body">
	<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" />
	<label for="openSidebarMenu" class="sidebarIconToggle">
		<div class="spinner diagonal part-1"></div>
		<div class="spinner horizontal"></div>
		<div class="spinner diagonal part-2"></div>
	</label>
	<nav id="sidebarMenu">
		<!-- <nav class="navigation-container">
			<ul class="navigation-list">
				<li class="navigation-list__item" *ngFor="let link of navigation; let i = index">
					<a routerLink="{{ link.link }}" class="item-link" [routerLinkActive]="['active']">{{ 'NAVIGATION.LINK.VALUE' +
						i | translate }}</a>
				</li>
			</ul>
		</nav> -->
		<ul class="main-content-wrapper">
			<a *ngFor="let link of navigation; let i = index" routerLink="{{ link.link }}" class="item-link"
				[routerLinkActive]="['active']">{{ 'NAVIGATION.LINK.VALUE' + i
				| translate }}</a>
		</ul>
	</nav>
</div>