@mixin flex-a_center-j_sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-j_sb {
  display: flex;
  justify-content: space-between;
}

@mixin flex-a_center-j_sa {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flex-a_center-j_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-j_center {
  display: flex;
  justify-content: center;
}

@mixin flex-a_center {
  display: flex;
  align-items: center;
}

@mixin flex-d_column {
  display: flex;
  flex-direction: column;
}

@mixin flex-a_center-d_column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin flex-a_center-j_center-d_column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}