@use '../variables' as color;

@mixin footer_glassmorphism {
    backdrop-filter: blur(20px);
    border-radius: 10px 10px 0 0;
    opacity: 0.95;
    border-top: 1px solid rgba(244, 244, 244, 0.2);
    border-left: 1px solid rgba(244, 244, 244, 0.2);
}

@mixin header_glassmorphism {
    backdrop-filter: blur(20px);
    border-radius: 0 0 10px 10px;
    opacity: 0.95;
    border-bottom: 1px solid rgba(244, 244, 244, 0.2);
    border-left: 1px solid rgba(244, 244, 244, 0.2);
}

@mixin reset_glassmorphism {
    backdrop-filter: initial;
    border-radius: 0;
    opacity: 1;
    border-bottom: none;
    border-left: none;
}

@mixin default_button_glassmorphism {
    width: fit-content;
    padding: 10px 15px;
    border-radius: 8px;
    color: color.$white;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 20px -10px rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    transition: 0.5s ease;
}
