<header class="navigation-panel">
    <div class="container">
        <img
            src="assets/img/IvanCherkas.png"
            alt="cv-logo"
            class="logo"
            routerLink="/layout"
        />

        <nav class="navigation-container">
            <ul class="navigation-list">
                @for (link of navigators; track link; let i = $index) {
                <li class="navigation-list__item">
                    <a
                        routerLink="{{ link.link }}"
                        class="item-link"
                        [routerLinkActive]="['active']"
                    >
                        {{ 'NAVIGATION.LINK.VALUE' + i | translate }}
                    </a>
                </li>
                }
            </ul>
        </nav>

        <cv-navigation-panel-burger
            class="navigation-container--mobile"
            [burgerNavigators]="navigators"
        ></cv-navigation-panel-burger>

        <div class="personal-area">
            <div class="selectors">
                <cv-language-selector></cv-language-selector>
                <cv-dark-mode-selector></cv-dark-mode-selector>
            </div>
            <div class="logout">
                <cv-logout-button buttonName="logout"></cv-logout-button>
            </div>
        </div>
    </div>
</header>
