<div class="cv">
  <div class="container">
    <h1 class="cv-title">
      Если вы хотите скачать мое резюме в формате PDF или JPG то выбирите
      соответствующую кнопку
    </h1>

    <div class="button-block">
      <a
        href="../../../assets/img/cv/i.cherkas_angular_cv.pdf"
        class="button-block__download"
        download
        >Скачать резюме в формате PDF</a
      >
      <a
        href="../../../assets/img/cv/i.cherkas_angular_cv.jpg"
        class="button-block__download"
        download
        >Скачать резюме в формате JPG</a
      >
    </div>

    <div class="cv-block">
      <cv-download-img></cv-download-img>
    </div>
  </div>
</div>
