.navigation-panel{
  width: 100vw;
  height: 100%;
  background: red;
  padding: 0 5%;

  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navigation-container{
      .navigation-list{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        &__item{
          padding: 2rem;
        }
      }
    }
  }

}
