<ng-container>
    <div [ngClass]="(currentTheme$ | async) ? 'dark-layout' : 'layout'">

        <cv-spinner
        [spinnerStyle]="
            (currentTheme$ | async) ? 'dark-layout' : 'layout'
        "></cv-spinner>

        <cv-navigation-panel
        [navigators]="navigation$ | async"></cv-navigation-panel>

        <div
            class="layout-container"
            [@fadeAnimation]="outlet.isActivated ? outlet.activatedRoute : ''">


            <cv-initial-content
                *ngIf="currentRoute === '/layout'"></cv-initial-content>
            <router-outlet #outlet="outlet"></router-outlet>.


        </div>

        <cv-footer></cv-footer>

        <cv-backgrounds
            [isDarkBackground]="currentTheme$ | async"></cv-backgrounds>
    </div>
</ng-container>
