@use '../../assets/styles/mixins/layout.mixin' as *;

.layout-container {
    flex-grow: 1;
    position: relative;
    z-index: 1;
}

.layout {
    min-height: 100%;
    background: radial-gradient(#a23982, #1f1013);
    -webkit-animation: fadeIn 1 1s ease-out;
    -moz-animation: fadeIn 1 1s ease-out;
    -o-animation: fadeIn 1 1s ease-out;
    animation: fadeIn 1 1s ease-out;
    transition: all 1 ease-in;
}

.dark-layout {
    min-height: 100%;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    -webkit-animation: fadeIn 1 1s ease-out;
    -moz-animation: fadeIn 1 1s ease-out;
    -o-animation: fadeIn 1 1s ease-out;
    animation: fadeIn 1 1s ease-out;
    transition: all 1 ease-in;

    @function random_range($min, $max) {
        $rand: random();
        $random_range: $min + floor($rand * (($max - $min) + 1));
        @return $random_range;
    }

    .stars {
        position: fixed;
        top: -100%;
        left: 45%;
        width: 220%;
        height: 300%;
        transform: rotate(-45deg);
        overflow: hidden;
        margin-left: -600px;
        z-index: 0;
    }

    .star {
        $star-count: 100;
        --star-color: var(--primary-color);
        --star-tail-length: 7em;
        --star-tail-height: 2px;
        --star-width: calc(var(--star-tail-length) / 7);
        --fall-duration: 9s;
        --tail-fade-duration: var(--fall-duration);

        position: absolute;
        top: var(--top-offset);
        left: 0;
        width: var(--star-tail-length);
        height: var(--star-tail-height);
        color: var(--star-color);
        background: linear-gradient(45deg, currentColor, transparent);
        border-radius: 50%;
        filter: drop-shadow(0 0 6px currentColor);
        transform: translate3d(104em, 0, 0);
        animation:
            fall var(--fall-duration) var(--fall-delay) linear infinite,
            tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out
                infinite;

        @include sp-layout {
            // For mobile performance, tail-fade animation will be removed QAQ
            animation: fall var(--fall-duration) var(--fall-delay) linear
                infinite;
        }

        @for $i from 1 through $star-count {
            &:nth-child(#{$i}) {
                --star-tail-length: #{calc(random_range(500em, 750em) / 100)};
                --top-offset: #{calc(random_range(0vh, 10000vh) / 100)};
                --fall-duration: #{calc(random_range(6000, 12000s) / 1000)};
                --fall-delay: #{calc(random_range(0, 10000s) / 1000)};
            }
        }

        &::before,
        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: calc(var(--star-width) / -2);
            width: var(--star-width);
            height: 100%;
            background: linear-gradient(
                45deg,
                transparent,
                currentColor,
                transparent
            );
            border-radius: inherit;
            animation: blink 2s linear infinite;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    @keyframes fall {
        to {
            transform: translate3d(-30em, 0, 0);
        }
    }

    @keyframes tail-fade {
        0%,
        50% {
            width: var(--star-tail-length);
            opacity: 1;
        }

        70%,
        80% {
            width: 0;
            opacity: 0.4;
        }

        100% {
            width: 0;
            opacity: 0;
        }
    }

    @keyframes blink {
        50% {
            opacity: 0.6;
        }
    }
}

ng-deep {
    router-outlet ~ * {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
