<ng-container>
  <div [ngClass]="(currentTheme$ | async) ? 'dark-layout' : 'layout'">
    <div
      class="layout-container"
      [@fadeAnimation]="outlet.isActivated ? outlet.activatedRoute : ''">
      <cv-navigation-panel></cv-navigation-panel>

      <cv-spinner
        [spinnerStyle]="
          (currentTheme$ | async) ? 'dark-layout' : 'layout'
        "></cv-spinner>
      <cv-initial-content
        *ngIf="currentRoute === '/layout'"></cv-initial-content>
      <router-outlet #outlet="outlet"></router-outlet>

      <cv-footer></cv-footer>
    </div>

    <div class="stars-container">
      <ng-container
        *ngIf="currentTheme$ | async"
        [ngTemplateOutlet]="isDarkMode">
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #isDarkMode>
  <div class="stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
  </div>
</ng-template>
