.modal-overlay {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-overlay .modal {
    border-radius: 4px;
    background-color: white;
    padding: 40px 20px;
    min-width: 400px;
    min-height: 500px;
}
