<div
  class="button-container"
  [ngClass]="downloadPath ? 'download' : 'change'">
  <button class="button">
    <ng-template #changeView></ng-template>

    <ng-template #download></ng-template>
  </button>
</div>

<ng-container
  *ngIf="downloadPath"
  [ngTemplateOutlet]="download">
  <a
    [href]="downloadPath"
    class="cv-item__download"
    download
    >{{ label }}</a
  >
</ng-container>

<ng-container
  *ngIf="!!downloadPath"
  [ngTemplateOutlet]="changeView">
  <a class="button__label">
    {{ label }}
  </a>
</ng-container>
