<footer
    class="cv-footer"
    [ngClass]="(currentTheme$ | async) ? 'dark-layout' : 'layout'"
>
    <div class="footer-container">
        <cv-links-container
            [modeTheme]="currentTheme$ | async"
            [pwaView]="isPwaView"
        ></cv-links-container>
        <!-- <div class="personal-data-container">
            <ul class="personal-data-list">
                @for (contact of myContacts$ | async; track contact; let i =
                $index) {
                <li class="personal-data-list__item">
                    <span class="item-title">
                        {{ 'FOOTER.ITEM.VALUE' + i | translate }}
                    </span>
                    <a
                        [href]="getSantizeUrl(contact.path)"
                        class="item-value"
                    >
                        {{ contact.value }}
                    </a>
                </li>
                }
            </ul>
        </div> -->
    </div>
</footer>
