<div class="education-content">
  <div class="container">
    <ul class="education-list">
      <li class="education-list__item">
        <div class="school">
          <span class="school__title">Школа:</span>
          <span class="school__content">№132</span>
        </div>
      </li>
      <li class="education-list__item">
        <div class="university">
          <span class="university__title">Университет:</span>
          <span class="university__content"
            >Минский инновационный университет</span
          >
        </div>
      </li>
      <li class="education-list__item">
        <div class="courses">
          <span class="courses__title">Курсы</span>
          <span class="courses__content">TeachMeSkills</span>
        </div>
      </li>
    </ul>
  </div>
</div>
