@use '../../../../../assets/styles/mixins/flex.mixin' as *;

.education-content {
        .education-container {
        width: 100%;
        @include flex-a_center-j_center;

        .education-list {
            width: 100%;
            @include flex-d_column;
            gap: 2rem;

            &__item {
                backdrop-filter: blur(15px);
                box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
                border: 1px solid rgba(255, 255, 255, 0.25);
                border-radius: 8px;
                background-color: rgba(255, 255, 255, 0.45);
                padding: 1rem;
                width: 100%;

                .educational__institution {
                    align-self: center;
                    margin-bottom: 2rem;
                    font-weight: 700;
                    font-size: 22px;
                    text-align: center;
                }

                .content-container {
                    @include flex-j_sb;
                    flex-direction: row;
                }

                .education-logo__container {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                    gap: 10px;

                    .education-logo__img {
                        width: 100%;
                    }
                }

                .places {
                    width: 100%;

                    &__list {
                        display: grid;
                        grid-template-columns: repeat(
                            auto-fit,
                            minmax(300px, 1fr)
                        );
                        gap: 1rem;
                        width: 100%;

                        .item {
                            display: flex;
                            flex-direction: column;
                            gap: 0.54rem;

                            &__name {
                                font-weight: 600;
                                font-size: 18px;
                            }

                            &__img {
                                transform: scale(1);
                                transition: all 0.5s ease-out;
                                cursor: pointer;
                                box-shadow:
                                    0 14px 28px rgba(0, 0, 0, 0.25),
                                    0 10px 10px rgba(0, 0, 0, 0.22);
                                border-radius: 8px;
                                padding: 1px;
                                width: 200px;
                            }

                            &__img:hover {
                                transform: scale(1.1);
                                transition: all 0.5s ease-out;
                            }
                        }
                    }
                }

                > * {
                    @include flex-d_column;
                }
            }

            &__item:last-child {
                .places {
                    &__list {
                        .item {
                            > * {
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
        }
    }
}
