<div class="education-content">
  <div class="education-container">
    <ul class="education-list">
      <li
        class="education-list__item"
        *ngFor="let educationPlace of educationList; let i = index"
      >
        <div class="places">
          <span class="places__title">{{
            'EDUCATION.' + educationPlace.educationTitle + '.TITLE' | translate
          }}</span>
          <ul class="places__list">
            <li
              class="item"
              *ngFor="
                let education of educationPlace.educationPlaceName;
                let i = index
              "
            >
              <span class="item__name">
                {{
                  'EDUCATION.' +
                    educationPlace.educationTitle +
                    '.' +
                    education.name +
                    '.NAME' | translate
                }}
              </span>

              <ng-container *ngIf="education.certificatePath">
                <img
                  [src]="education.certificatePath"
                  [alt]="education.grade"
                  class="item__img"
                  (click)="openDialog(education.certificatePath)"
                />
              </ng-container>

              <span class="item__address">
                {{
                  'EDUCATION.' +
                    educationPlace.educationTitle +
                    '.' +
                    education.name +
                    '.ADDRESS' | translate
                }}</span
              >
              <span class="item__phone">{{ education.phone }}</span>

              <a [href]="education.link" class="intem__link">{{
                education.link
              }}</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
