@font-face {
  font-family: 'Zekton Rg';
  src: url('../fonts/ofont.ru_Zekton.ttf');
}

body {
  font-family: 'Zekton Rg', Roboto, 'Helvetica Neue', sans-serif;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: lightblue; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  z-index: 100;
  background-color: lightcyan; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid orange; /* creates padding around scroll thumb */
}

.about-me,
.cv,
.education,
.projects,
.technologies,
.work-experience,
.initial-content {
  margin: 2rem 0 0 0;
  padding-bottom: 9.5rem;

  width: 100%;
  .container {
    padding: 0 5%;
  }
}
