@font-face {
    font-family: 'Zekton Rg';
    src: url('../fonts/ofont.ru_Zekton.ttf');
}

body {
    font-family: 'Zekton Rg', Roboto, 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.about-me,
.cv,
.education,
.projects,
.technologies,
.work-experience,
.initial-content {
    width: 100%;
    padding-top: 120px;
}
