@font-face {
  font-family: 'Zekton Rg';
  src: url('../fonts/ofont.ru_Zekton.ttf');
}

body {
  font-family: 'Zekton Rg', Roboto, 'Helvetica Neue', sans-serif;
}

.about-me,
.cv,
.education,
.projects,
.technologies,
.work-experience,
.initial-content {
  margin: 2rem 0 0 0;
  padding-bottom: 9.5rem;

  width: 100%;
  .container {
    min-height: 78vh;
    padding: 0 5%;
  }
}
