.mdc-dialog .mdc-dialog__content {
    padding: 0 !important;
}

.mat-sidenav-container,
.mat-sidenav-content,
.mat-tab-body-content {
    transform: none !important;
}

// Material logout dialog styles
.logoutDialog .dialog-content {
    width: fit-content;
    backdrop-filter: blur(20px);
    border-radius: 0 0 10px 10px;
    opacity: 0.95;
    border-bottom: 1px solid rgba(244, 244, 244, 0.2);
    border-left: 1px solid rgba(244, 244, 244, 0.2);
}