<div
    class="dialog-content"
    mat-dialog-content
>
    <p class="dialog-message">Are you shure that you wont to exit from app?</p>
    <div class="dialog-actions">
        <button
            class="cancel-button"
            type="button"
            (click)="cancel()"
        >
            Cancel
        </button>

        <button
            class="confirm-button"
            type="button"
            (click)="confirmLogout()"
        >
            Confirm
        </button>
    </div>
</div>
