@use '../../../../assets/styles/mixins/flex.mixin' as *;

.dialog-content {
    @include flex-a_center-d_column;

    .dialog-actions {
        display: flex;
        align-items: center;
        row-gap: 15px;
    }
}