.dark-mode-selector {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50px;
  height: 50px;

  &__input {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  &__input:checked + label {
    background: #242424;
  }

  &__input:checked + label:after {
    left: 48.5px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
  }

  &__label,
  &__label:after {
    transition: 0.3s;
  }

  &__label {
    width: 100%;
    height: 25px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 50px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  &__label::after {
    content: '';
    height: 22px;
    width: 22px;
    position: absolute;
    top: 1.5px;
    left: 1px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 22px;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.2);
  }

  &__label:active:after {
    width: 27px;
  }

  &_label img {
    position: absolute;
    width: 22px;
    top: 1.5px;
    left: 1px;
    z-index: 100;
  }

  &_label img.dm-picture-sun {
    width: 22px;
    transition: 0.3;
  }

  &_label img.dm-picture-moon {
    width: 22px;
    left: 1px;
    transition: 0.3;
  }
}
